<section class="container container-about">
    <div class="row">




        <div class="col-md-12">
            <h1>About</h1>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>Hercules Fitness..... A well known name in fitness industry, It's a biggest fitness center situated in parel,  we provide all kind of fitness training under one roof ,like crossfit training, ketabell training ,training for Power Yoga, training for weight loss, training for weight gain and many more, we have full loaded weight section, highly advanced machine section, crossfit section, kickboxing section, monkey climbing, steam, massage,shower, lockers. We have all certified trainers. We prepare bodybuilders and fitness models,

            We are launching new massage therapy "Deep Tissue Massage" by certified massures 
                




            </p>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>
               
            </p>
        </div>

        
    </div>
</section>